.map-container {
    height: 90vh;
    width: 98%;
}

#options {
    z-index: 2;
    position: absolute;
    top: 65px;
    left: 0;
}

.map-btns {
    margin: 0 auto;
    /* margin-left: 2; */
    z-index: 2;
    position: absolute;
    top: 95vh;
}

.mini-map-btns {
    position: relative;
}

.mini-map {
    height: 45vh;
    width: 45%;
}

.info-img {
    height: 100px;
    width: 100px;
}