.map-container {
    height: 75vh;
    width: 100%;
}

#options {
    z-index: 2;
    position: absolute;
    top: 65px;
    left: 0;
}

.mini-map {
    height: 45vh;
    width: 45%;
}

.info-img {
    height: 100px;
    width: 100px;
}